.ant-carousel .slick-slide {
  text-align: center;
  height: 92vh;
  background: #3e98e7;
  overflow: hidden;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.text_header {
  position: relative;
  top: 35vh;
  text-align: left;
  width: 450px;
}
/* #6b4fc2 */
#ura {
  position: relative;
  width: 100%;
  top: 100px;
}
#mile {
  position: relative;
  width: 100%;
  top: 80px;
}
#tik_tok {
  height: 100px;
  width: 200px;
  text-align: center;
  padding-top: 45px;
  font-size: 30px;
  text-shadow: -3px -3px 2px #25f4ee, 3px 3px 2px #fe2c55;
  font-weight: bold;
}
.img_header {
  width: 700px;
}
#header_1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin: 0;
}
#header_2 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
#spacer {
  position: relative;
  width: 600px;
}
