nav {
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  font-weight: 700;
}
.tik-tok-logo {
  height: 100px;
  width: 200px;
  text-align: center;
  padding-top: 45px;
  font-size: 40px;
  text-shadow: -3px -3px 2px #25f4ee, 3px 3px 2px #fe2c55;
  font-weight: bold;
  color: #fff;
}
.nav-block__link {
  position: relative;
  height: 100%;
  display: inline-block;
  color: #566984;
}
.nav-block__link::before {
  content: '';
  position: absolute;
  opacity: 0;
  height: 2px;
  width: 100%;
  top: 98%;
  left: 0;
  background-color: #0c00ff;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
.nav-block__link:hover {
  background: linear-gradient(120deg, #15EDED, #59C2FF, #5496FF, #FF63DE, #FF7C6E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-block__link:hover::before {
  opacity: 1;
  transition: all 0.2s ease-out;
}
.create-offer-btn {
  background: linear-gradient(120deg, #15EDED, #59C2FF, #5496FF, #FF63DE, #FF7C6E);
  text-decoration: underline;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
